<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img class="is-rounded" src="{{site.author-image}}" alt="{{site.author-name}}">
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <p>{{site.author-about}}</p>
                    <br>
                    <div class="container columns" style="border: solid; padding-left: 1%;">
                        <div style="border: solid; width: 50%;"> 
                            <h3>Interests</h3>
                            <ul>
                                <li>Algorithms</li>
                                <li>Machine Learning</li>
                                <li>Data Science</li>
                            </ul>
                        </div>
                        <div style="border: solid; width: 50%;">
                            <h3>Education</h3>
                            <div>
                                <h4>M.Sc. in Computer Science, 2020</h4>
                                <p>Uppsala University, Sweden</p>
                            </div>
                            <div>
                                <h4>B.Eng. in Software Engineering, 2017</h4>
                                <p>Qingdao University, China</p>
                            </div>
                        </div>
                    </div>
                    <div class="container columns is-centered">
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/#contact"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Contact
                                Me</a>
                            </a>
                        </div>
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/blog"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Blog</a>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>