<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img class="is-rounded" src="{{site.author-image}}" alt="{{site.author-name}}">
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <p>{{site.author-about}}</p>
                    <br>
                    <div class="ie-row">
                        <div class="col-md-6-IE">
                            <div>
                                <h2 style="font-weight: bold; font-size: larger;">Interests</h2>
                                <ul style="list-style-type: disc; border: solid; padding-left: 5%;">
                                    <li>Algorithms</li>
                                    <li>Machine Learning</li>
                                    <li>Data Science</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6-IE">
                            <div>
                                <h2 style="font-weight: bold; font-size: larger;">Education</h2>
                                <div>
                                    <h4>M.Sc. in Computer Science, 2020</h4>
                                    <p style="color: gray; font-size: small;">Uppsala University, Sweden</p>
                                </div>
                                <div>
                                    <h4>B.Eng. in Software Engineering, 2017</h4>
                                    <p style="color: gray; font-size: small;">Qingdao University, China</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container columns is-centered">
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/#contact"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Contact
                                Me</a>
                            </a>
                        </div>
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/blog"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Blog</a>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>