{% for experience in site.data.portfolio %}
    <div class="row">
        <div class="col-md-3-portfolio col-portfolio">
            <div class="portfolio-image">
                <img src="{{ experience.image }}" alt="Ericsson" height="60%" width="60%">
            </div>
        </div>
        <div class="col-md-9-portfolio col-portfolio">
            <div class="portfolio-text">
                <h2>{{ experience.name }}</h2>
                <p>{{ experience.description }}</p>
            </div>
        </div>
    </div>
{% endfor %}