{% for experience in site.data.portfolio %}
    <div class="md-portfolio-row sm-portfolio-row">
        <div class="col-md-3-portfolio col-portfolio">
            <div class="md-portfolio-image sm-portfolio-image">
                <img src="{{ experience.image }}" alt="Ericsson" height="60%" width="60%">
            </div>
        </div>
        <div class="col-md-9-portfolio col-portfolio">
            <div class="md-portfolio-text sm-portfolio-text">
                <h2>{{ experience.name }}</h2>
                <p>{{ experience.description }}</p> 
            </div>
        </div>
    </div>
{% endfor %}